* {
	font-family: Poppins;
	letter-spacing: -0.01em;
	margin: 0 px;
	padding:0 px;
	box-sizing:border-box;
}
.btnGreen {
	padding: 0.694vw 4.444vw;
	width: 100%;
	background: #a3b49b;
	margin-top: 2.5vw;
}
.pageHeading {
	font-weight: 500;
	font-size: 2.431vw;
	line-height: 3.611vw;
}
